html{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(red, yellow, blue);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {

  }

  .gradient {
    background-image:
      radial-gradient(
        rgb(234, 204, 246),
        #ed9df0
      );
  }

  .bg-color {
    background-color: rgb(250, 209, 98);
}

.columns-bg {

}