html{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  #fc5185;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: #fc5185;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {

  }

  .gradient {
   background-color:#364f6b;
  }

label, .bg-color {
    color: #fc5185;
}

label{
  font-size: 22pt;
}
.text{
 color:  #f0f0f0;
}
.bg {
color: #fc5185;

}